@model IEnumerable<BiedaFilmy.Models.Movie>

@{
    ViewData["Title"] = "Filmy";
}

<style> 
    * {
        color: white
    }

    .create-paragraph{
        margin: 20px 0px 20px 0px;
    }
    .create {
        color: white;
        border: 1px solid white;
        padding: 10px;
        text-decoration: none;
        border-radius: 5px;
        margin: 5px;
    }
    .create:hover{
        color:white;
        cursor: pointer;
    }
    .table tr>th {
        color: white;
        text-align: center;
    }
</style>

<h1>Lista filmów</h1>

@if (User.IsInRole("Admin"))
{
    <p class="create-paragraph">
        <a asp-action="Create" asp-controller="AdminMovies" class="create">Dodaj film</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", "Movies", new { Id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @item.Release.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
        </tr>
}
    </tbody>
</table>
