@model IEnumerable<BiedaFilmy.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<style> 
    .button {
        color: white;
        background-color: black;
        border: 1px solid white;
        padding: 10px;
    }

        .button:hover {
            color: black;
            background-color: white;
            border: 1px solid black;
        }

        .button:active {
            color: black;
            background-color: white;
            border: 1px solid black;
        }
</style>

<h1>Lista filmów</h1>

<p>
    <a asp-action="Create">Create New</a>
    <button asp-action="Create" class="button">Utwórz nowy</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
